@page "/counter"

<PageTitle>Counter</PageTitle>

<h1 class="red-color" style="font-size:@GlobalState.FontSize">Counter</h1>

<section class="select-font-size">
    <select @bind="GlobalState.FontSize" class="form-select">
        <option value="10px">10px</option>
        <option value="20px">20px</option>
        <option value="30px">30px</option>
    </select>
</section>

<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCountJs">Click me js</button>
