@page "/"
@inject IMovieRepository movieRepository;

<button @onclick="CleanMovieList">Clean movie list</button>

<MovieList
    @ref="MovieListRef"
    Movies="Movies">
</MovieList>

<MyInput @attributes="Props" />

<button type="button" @onclick="onAddHandler">Add movie</button>

@code {
    string Nombre { get; } = "Wences";

    public IDictionary<string, object> Props => new Dictionary<string, object>()
    { { "type", "text" },
    { "disabled", true } };

    public MovieEntity Pelicula { get => GetMovie(); }

    private List<MovieEntity> Movies { get; set; }

    private MovieList MovieListRef;

    private MovieEntity GetMovie() => new MovieEntity() 
    {
        Title = "Spide-Man",
        LaunchDate = new DateTime(2019, 9, 27)
    };

    void OnClickHanlder()
    {
        Console.WriteLine("You clicked me!");
    }

    void onAddHandler()
    {
        Movies.Add(new MovieEntity() { Title = "New movie", LaunchDate = new DateTime(2000, 12, 12) });
    }

    protected override void OnInitialized()
    {
        Movies = movieRepository.GetAll().ToList();
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"OnParametersSet - Movies count: {Movies.Count}");
    }

    private void CleanMovieList()
    {
        MovieListRef.CleanMovies();
    }
}