@page "/genres"

<h3>Genres</h3>

<div class="row">
    <div class="col-3">
        <a href="genre/create" class="btn btn-secondary d-grid btn-sm">Create genre</a>
    </div>
</div>

@code {

}
